.profile-submit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.category-create-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 7px;   
}